body {
  margin: 0;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 16px 0 25px 0;
  width: 150px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #F2BC57;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}


.container {
  display: flex;
  justify-content: center;
  position: relative;
}

canvas {
  background-color: #F2BC57;
}

.track-buttons-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.track-wrapper {
    position: absolute;
    width: 700px;
    bottom: 20px;
    height: 100px;
    background-color: #516D73;
    display: flex;
    align-items: center;
    opacity: 0.8;
    border-radius: 5px;


}

.track-listing {
  display: grid;
}

button, input {
  width: 100%;
}

.track {
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h3 { 
  text-align: center;
  font-family: 'Courier Prime', monospace;
  font-size: 14px;
  font-weight: 600;

}

button {
  width: 100px;
  display: block;
  margin: 0 auto;
  height: 26px;
  border-radius: 5px;
  outline: none;
  padding: 0;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  cursor: pointer;
}

button:hover {
  background-color: #F2E8DC
}

button img {
  position: relative;
  top: -5px;
  filter: invert(87%) sepia(90%) saturate(2249%) hue-rotate(314deg) brightness(99%) contrast(92%);

}

label {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  padding: 0;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  cursor: pointer;
  position: absolute;
  align-self: center;
  background-color: white;
  opacity: 0.8;
  font-family: 'Courier Prime', monospace;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;  
}

#thefile{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 3;
}

button:hover {
  background-color: #F2E8DC
}

label h3 {
  margin: 0;
  width: 100%;
}

#modal-btn {
  top: 20px;
  left: 20px;
  position: absolute;
}

.modal-button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  padding: 0;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  cursor: pointer;
  position: absolute;
  align-self: center;
  background-color: white;
  opacity: 0.8;
  font-family: 'Courier Prime', monospace;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
}

button h3 {
  margin: 0;
  width: 100%;
}

.directions-modal {
  width: 400px;
  height: 400px;
  background-color: yellow;
  border-radius: 5px;
  display: none;
  position: absolute;
}

#directions-close:hover {
  cursor: pointer;
}

.love-nas-modal {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 5px;
  display: none;
  position: absolute;
}

#close-love-nas:hover {
  cursor: pointer;
}

.hate-nas-modal {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 5px;
  display: none;
  position: absolute;
}

#close-hate-nas:hover {
  cursor: pointer;
}

.user-wrapper {
    position: absolute;
    width: 200px;
    justify-content: center;
    top: 10px;
    height: 140px;
    background-color: #516D73;
    display: flex;
    align-items: center;
    opacity: 0.8;
    border-radius: 5px;
    display: none;
}

.user-listing {
  display: grid;
}

button, input {
  width: 100px;
}

.user-track {
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-track-buttons-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}